MIT_AST processing steps, 1 "garden_010120024" folder ata time:

1.define path to folder with .wav files
TODO: 
2.get results from MIT_AST model, results are filename,label,prob_dict
TODO: modify  analyze_files_ast(folder) so the results contain prob_dict
3.speech_detected(), returns true/false, checks if prob_dict contains at least 1 out of 50 speech_related_labels
TODO: 
4.add label, speeech_detected(0/1) columns to metadata file.

In [6]:
import pandas as pd
labels_df = pd.read_excel('MIT_AST_label_map.xlsx')

In [2]:
labels_df.head()

   Unnamed: 0                          label source
0           0                         Speech  human
1           1      Male speech, man speaking  human
2           2  Female speech, woman speaking  human
3           3     Child speech, kid speaking  human
4           4                   Conversation  human

In [8]:
labels_df['source'].value_counts()

source
music           146
vehicle          51
human            46
animal           36
alarm            31
work             29
material         25
mechanical       22
bird             21
background       21
explosion        19
weather          18
machine          17
foley            16
vocalization     12
door             11
insect            6
Name: count, dtype: int64

In [18]:
# all labels where source human


human = labels_df[labels_df['source']=='human']
print(human)

    Unnamed: 0                                label source
0            0                               Speech  human
1            1            Male speech, man speaking  human
2            2        Female speech, woman speaking  human
3            3           Child speech, kid speaking  human
4            4                         Conversation  human
5            5                 Narration, monologue  human
6            6                             Babbling  human
7            7                   Speech synthesizer  human
8            8                                Shout  human
9            9                               Bellow  human
10          10                                Whoop  human
11          11                                 Yell  human
12          12                           Battle cry  human
13          13                    Children shouting  human
14          14                            Screaming  human
15          15                           Whispering  human
16          16                             Laughter  human
17          17                        Baby laughter  human
18          18                               Giggle  human
19          19                              Snicker  human
20          20                          Belly laugh  human
21          21                     Chuckle, chortle  human
22          22                      Crying, sobbing  human
23          23                 Baby cry, infant cry  human
24          24                              Whimper  human
25          25                           Wail, moan  human
26          26                                 Sigh  human
27          27                              Singing  human
28          28                                Choir  human
29          29                             Yodeling  human
30          30                                Chant  human
31          31                               Mantra  human
32          32                         Male singing  human
33          33                       Female singing  human
34          34                        Child singing  human
35          35                    Synthetic singing  human
36          36                              Rapping  human
37          37                              Humming  human
38          38                                Groan  human
39          39                                Grunt  human
40          40                            Whistling  human
66          66                             Cheering  human
68          68                              Chatter  human
69          69                                Crowd  human
70          70  Hubbub, speech noise, speech babble  human
71          71                     Children playing  human

In [11]:
# extract row with label 'Whistling'

ss = labels_df[labels_df['source']=='bird']
print(ss)

     Unnamed: 0                                    label source
98           98                                     Fowl   bird
99           99                         Chicken, rooster   bird
100         100                                    Cluck   bird
101         101               Crowing, cock-a-doodle-doo   bird
102         102                                   Turkey   bird
103         103                                   Gobble   bird
104         104                                     Duck   bird
105         105                                    Quack   bird
106         106                                    Goose   bird
107         107                                     Honk   bird
111         111                                     Bird   bird
112         112  Bird vocalization, bird call, bird song   bird
113         113                             Chirp, tweet   bird
114         114                                   Squawk   bird
115         115                             Pigeon, dove   bird
116         116                                      Coo   bird
117         117                                     Crow   bird
118         118                                      Caw   bird
119         119                                      Owl   bird
120         120                                     Hoot   bird
121         121              Bird flight, flapping wings   bird

In [1]:
from test_mit_ast import MIT_AST_model
from mit_ast_prob import MIT_AST_model_prob


#cfile = 'er_file_2023_09_04_7_13_08.wav'
inhale_file = "/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_19.wav"
afile ="/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/16/er_file_2024_01_01_14_18_13.wav"
model_prob = MIT_AST_model_prob()
model = MIT_AST_model()
res = model_prob.classify(inhale_file)
print(res)

Top 5 class/prob: {'Heart murmur': 0.433290958404541, 'Heart sounds, heartbeat': 0.2911057770252228, 'Hum': 0.03401926904916763, 'Throbbing': 0.030839039012789726, 'Stomach rumble': 0.025580795481801033}
{'Animal': 0.14979426562786102, 'Speech': 0.07444065809249878, 'Outside, rural or natural': 0.06758172810077667, 'Clip-clop': 0.06603291630744934, 'Horse': 0.058802176266908646}

In [7]:
type(res)

str

In [4]:
res[1].keys()

dict_keys(['Animal', 'Speech', 'Outside, rural or natural', 'Clip-clop', 'Horse'])

In [91]:
from tqdm import tqdm

def classify_files_ast_prob(filepaths_list):
    """
    Classify a list of audio files using the MIT AST model
    :param filepaths_list: list of file paths
    :return: list of tuples with file path and classification results a list of tuples for each file
            where each tuple contains the file path and a results tuple.
            res tuple contains winning label + dictionary with top 5 labels and their probabilities
            results = [(file_path, (label,{label:prob,...})), ...]
    """
    results = []
    model_prob = MIT_AST_model_prob()
    for file_path in tqdm(filepaths_list, desc="Classifying files"):
        res = model_prob.classify(file_path)
        try:
            if len(res) > 0:
                results.append((file_path, res))
        except Exception as e:
                print(f"Error processing file {file_path}: {e}")
    return results

In [39]:
def split_prob_results(prob_results):
    """
    Split the results of the classification into a list of tuples with file path and label and a list of tuples with file path and dictionary
    :param prob_results: list of tuples with file path and classification results dictionary with top labels and their probabilities
                         results = [(file_path, {label: prob, ...}), ...]
    :return: list of tuples with file path and label and a list of tuples with file path and dictionary
    """
    labels = []
    dictionaries = []
    for file_path, label_prob_dict in prob_results:
        # Get the top label
        top_label = max(label_prob_dict, key=label_prob_dict.get)
        labels.append((file_path, top_label))
        dictionaries.append((file_path, label_prob_dict))
    return labels, dictionaries

In [42]:
# human_detected function. finds if human related albels are among the results
def human_detected(prob_results, human_labels):
    """
    Check if any of the labels in the results is a human label and return a list of tuples with file path and a flag
    :param prob_results: list of tuples with file path and classification results dictionary with top 5 labels and their probabilities
                         results = [(file_path, {label: prob, ...}), ...]
    :param human_labels: list of human labels
    :return: list of tuples with file path and 1 if a human label is detected, 0 otherwise
    """
    detected_results = []
    for file_path, label_prob_dict in prob_results:
        # Check if any label is in human_labels
        human_detected = any(label in human_labels for label in label_prob_dict)
        detected_results.append((file_path, 1 if human_detected else 0))
    return detected_results

In [98]:
# add_labels function. Adds a label to the results if it is a human label
def add_labels(metadata_file_path,results,column_name):
    """
    Add MIT_AST labels to the metadata file
    :param metadata_file_path: path to the metadata file
    :param results: list of tuples with file path and top label 
    :param column_name: name of the column to add to the metadata file            
    :return: path to the new metadata file
    """
     # Create a DataFrame from results
    labels_df = pd.DataFrame(results, columns=['filepath', column_name])
    
    # Extract basenames for comparison
    labels_df['filename'] = labels_df['filepath'].apply(os.path.basename)
    
    # Load the existing metadata DataFrame
    df = pd.read_excel(metadata_file_path)
    
    # Ensure filenames are basenames for comparison
    df['filename'] = df['filename'].apply(os.path.basename)
    
    # Check if the 'BirdNET_label' column exists; if not, create it with NaN values
    if column_name not in df.columns:
        df[column_name] = pd.NA
    
    # Merge the existing df with the labels_df
    df = df.merge(labels_df[['filename', column_name]], on='filename', how='left', suffixes=('', '_new'))
    
    # Update the 'MIT_AST_label' column with new values where available
    df[column_name] = df[column_name+'_new'].combine_first(df[column_name])
    
    # Drop the temporary 'BirdNET_label_new' column
    df.drop(column_name+'_new', axis=1, inplace=True)
 
    # Construct the new filename
    original_filename = os.path.basename(metadata_file_path)
    new_filename = original_filename.replace('metadata', column_name + '_metadata')
    new_filepath = os.path.join(os.path.dirname(metadata_file_path), new_filename)
    # Save the updated DataFrame to a new Excel file
    df.to_excel(new_filepath, index=False)
      # Remove the original file
    os.remove(metadata_file_path)
    return new_filepath

In [53]:

import os
import pandas as pd

def find_files(root_folder):
    """
    Finds the metadata file and audio files in the specified root folder.
    The root folder is assumed to contain subfolders with audio files and metadata file.
    The metadata file is assumed to be named '...metadata.xlsx' and the audio files are assumed to have the extension '.wav'.
    parameters:
    - root_folder: The path to the root folder containing the audio files and metadata file.
    returns:
    - metadata_filepath: The path to the metadata file.
    - audio_files: A list of relative paths to the audio files.

    """
    audio_files = []
    metadata_filepath = None
    for dirpath, dirnames, filenames in os.walk(root_folder):
        for filename in filenames:
            if filename.endswith('metadata.xlsx'):
                metadata_filepath = os.path.join(dirpath, filename)
                print(f"Found metadata file: {metadata_filepath}")

            elif filename.endswith('.wav'):
                audio_files.append(os.path.join(dirpath, filename))
            

    return metadata_filepath, audio_files

In [100]:


# mit_ast_pipeline
def mit_ast_pipeline(folder_path,human_labels_list):
    """
    Classify all audio files in the folder using the MIT AST model and add the human labels to the metadata file
    :param folder_path: path to the folder with audio files
    :param human_labels_list: list of human labels from MIT_AST_label_map.xlsx
    :return: None
    """
    # Get a list of all audio files in the folder
    metadata_filepath, audio_files = find_files(folder_path)
    
    # Classify the audio files using the MIT AST model
    results = classify_files_ast_prob(audio_files)

    # Split the results into labels and dictionaries
    labels, dictionaries = split_prob_results(results)
    
    # add labels to the metadata file
    new_metadata_filepath = add_labels(metadata_filepath,labels,'MIT_AST')
    print(metadata_filepath)

    # Check if any of the labels in the results is a human label
    human_detected_results = human_detected(dictionaries, human_labels_list)

    # add human detected labels to the metadata file
    add_labels(new_metadata_filepath,human_detected_results,'Human_detected')

In [101]:
# test pipeline
garden_folder = '../garden_19102023'
human_labels = list(human['label'])
mit_ast_pipeline(garden_folder,human_labels)

Found metadata file: ../garden_19102023/garden_19102023_birdnet_metadata.xlsx

Classifying files: 100%|██████████| 1619/1619 [03:50<00:00,  7.02it/s]

../garden_19102023/garden_19102023_birdnet_metadata.xlsx

/var/folders/lh/0lt7mv811l56hczm0y7dwzym0000gn/T/ipykernel_58237/1414391559.py:30: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df[column_name] = df[column_name+'_new'].combine_first(df[column_name])

In [78]:
# read the metadata file
metadata_file = '../garden_19102023/garden_19102023_birdnet_ast_ast_human_metadata.xlsx'
df = pd.read_excel(metadata_file)
df['Human_detected'].value_counts()

Human_detected
1    863
0    751
Name: count, dtype: int64

above____________________________is new______________________________

In [10]:
#analyze files form folder and save results in a tuple: file name, string with labels
import os
def analyze_files_ast(folder): 
    """cretae a list of tuples with file name and string with labels
    folder: string with path to the folder with audio files
    return: list of tuples with file name and string with labels
    """   
    files = [file for file in os.listdir(folder) if file.endswith('.wav')]    
    results = []
    for file in files:
        # Construct the full path to the file
        file_path = os.path.join(folder, file)
        try:
            result = model.classify(file_path)
            if len(result) > 0:
                results.append((file_path, result))
        except Exception as e:
            print(f"Error processing file {file}: {e}")
    return results

In [11]:
test_file_path = "/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/"
res = analyze_files_ast(test_file_path)
print(res)# res is a list of tuples(filepath,label)

[('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_10.wav', 'Fowl'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_44.wav', 'Crow'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_00.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_49.wav', 'Bicycle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_40.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_39.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_30.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_56.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_10_59_59.wav', 'Mechanical fan'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_47.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_02.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_17.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_12.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_27.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_37.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_56.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_13.wav', 'Bicycle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_07.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_52.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_08.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_01.wav', 'Outside, rural or natural'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_59.wav', 'Tearing'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_44.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_10.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_38.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_30.wav', 'Drip'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_21.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_36.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_17.wav', 'Rowboat, canoe, kayak'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_27.wav', 'Owl'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_06_07.wav', 'Rustling leaves'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_02.wav', 'Mechanical fan'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_23.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_45.wav', 'Scissors'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_58.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_14.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_14.wav', 'Tearing'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_18.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_49.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_29.wav', 'Boat, Water vehicle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_11.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_50.wav', 'Heart sounds, heartbeat'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_06_15.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_31.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_19.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_10.wav', 'Chop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_06_03.wav', 'Biting'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_23.wav', 'Fowl'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_07.wav', 'Chop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_52.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_57.wav', 'Mechanical fan'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_23.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_07.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_37.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_02.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_16.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_47.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_35.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_21.wav', 'Rustling leaves'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_41.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_08.wav', 'Stomach rumble'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_59.wav', 'Mechanical fan'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_54.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_24.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_18.wav', 'Heart sounds, heartbeat'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_01_14.wav', 'Rustling leaves'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_44.wav', 'Rustling leaves'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_59.wav', 'Bicycle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_10.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_33.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_06_36.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_52.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_47.wav', 'Heart sounds, heartbeat'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_13.wav', 'Bird'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_26.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_42.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_10.wav', 'Outside, rural or natural'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_10_59_53.wav', 'Heart sounds, heartbeat'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_55.wav', 'Chop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_55.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_20.wav', 'Chop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_35.wav', 'Heart murmur'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_14.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_49.wav', 'Bicycle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_04_40.wav', 'Clip-clop'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_05.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_18.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_13.wav', 'Horse'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_10_59_50.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_02.wav', 'Animal'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_17.wav', 'Bicycle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_33.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_00_37.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_07_02.wav', 'Speech'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_05_07.wav', 'Crumpling, crinkling'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_33.wav', 'Door'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_08_52.wav', 'Heart murmur'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_03_59.wav', 'Crackle'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_10_59_56.wav', 'Heart sounds, heartbeat'), ('/Users/evgenynazarenko/DACS_3_year/Thesis/GardenFiles23/garden_01012024/0/er_file_2024_01_01_11_02_30.wav', 'Arrow')]

In [70]:
from tqdm import tqdm

# method to add a column with 'MIT_AST_label' to the dataframe, allign by file name
def add_label_column(df, results):
    """
    Add a column with 'MIT_AST_label' to the dataframe, allign by file name
    df: dataframe with metadata
    results: list of tuples with file name and string with labels
    return: dataframe with 'MIT_AST_label' column
    """
    # create column  if the column not already exists
    #if 'MIT_AST_label' not in df.columns:
    df['MIT_AST_label'] = None
    for file, label in results:
        df.loc[df['filename'] == file, 'MIT_AST_label'] = label
    return df

# get metadata_file and output_file from folder name
def get_metadata_output_files(folder):
    """
    Get metadata_file and output_file from folder name
    folder: string with folder name
    return: metadata_file, output_file
    """
    metadata_file = "metadata/" +folder[:-1] + "_metadata_birdnet_labeled.xlsx"
    output_file = metadata_file.split(".")[0] + "_mit_ast.xlsx"
    return metadata_file, output_file



folder = "garden_16032024/"
metadata_file, output_file = get_metadata_output_files(folder)
metadata_file, output_file

('metadata/garden_16032024_metadata_birdnet_labeled.xlsx',
 'metadata/garden_16032024_metadata_birdnet_labeled_mit_ast.xlsx')

In [ ]:
import os
import pandas as pd
from tqdm import tqdm

def analyze_folders(folder, batch_size=10):
    """
    Analyze all files in the folder of folders, processing subfolders in batches.
    Each batch's results are saved to a CSV file as a backup.
    The function returns the combined results from all batches.
    
    Args:
    folder: string with path to the folder containing subfolders.
    batch_size: number of subfolders to process in each batch (optional, default is 10).
    
    Returns:
    results: list of tuples with file name and string with labels from all subfolders.
    """
    # List all relevant subfolders, excluding hidden ones and ensuring they are directories
    subfolders = [f for f in os.listdir(folder) if not f.startswith('.') and os.path.isdir(os.path.join(folder, f))]
    total_results = []
    csv_backup_path = os.path.join(folder, 'batch_results_backup.csv')
    
    # Process subfolders in batches
    for i in tqdm(range(0, len(subfolders), batch_size)):
        batch_folders = subfolders[i:i + batch_size]
        batch_results = []

        for f in batch_folders:
            print(f"Analyzing folder {f}")
            subfolder_path = os.path.join(folder, f)
            batch_results += analyze_files_ast(subfolder_path + "/")
        
        # Convert batch results to DataFrame and save to CSV
        df_batch = pd.DataFrame(batch_results, columns=['Filename', 'Label'])
        if os.path.exists(csv_backup_path):
            df_batch.to_csv(csv_backup_path, mode='a', header=False, index=False)
        else:
            df_batch.to_csv(csv_backup_path, mode='w', header=True, index=False)
        
        # Accumulate results from each batch
        total_results.extend(batch_results)

    return total_results

In [112]:
f = pd.read_excel("metadata/garden_19102023_metadata_birdnet_labeled_mit_ast.xlsx")
#f.loc[f['filename'] == res[0][0], 'MIT_AST_label'] = res[0][1]
f['filename'][1]

'garden_19102023/160/er_file_2023_10_19_9_38_33.wav'

In [80]:
def pipeline_mit_ast(folder, batch_size=10):
    """
    Run the whole pipeline for the folder
    folder: string with folder name
    """
    metadata_file, output_file = get_metadata_output_files(folder)
    results = analyze_folders(folder,batch_size)
    meta_df = pd.read_excel(metadata_file)
    meta_df = add_label_column(meta_df, results)
    meta_df.to_excel(output_file)

In [89]:
# test the pipeline
folder = "garden_08032024/"

pipeline_mit_ast(folder)

100%|██████████| 26/26 [3:32:34<00:00, 490.54s/it]

In [90]:
mf = pd.read_excel("metadata/garden_08032024_metadata_birdnet_labeled_mit_ast.xlsx")
mf['MIT_AST_label'].notnull().sum()

25805

In [91]:
# readbackup file
import pandas as pd
df = pd.read_csv('garden_08032024/batch_results_backup.csv')
df.shape

(25809, 2)

In [145]:
# concat 2 excel files
import pandas as pd
df1 = pd.read_excel('metadata/garden_03032024_metadata_birdnet_labeled_mit_ast.xlsx')
df2 = pd.read_excel('metadata/garden_08032024_metadata_birdnet_labeled_mit_ast.xlsx')
df3 = pd.read_excel('metadata/garden_16032024_metadata_birdnet_labeled_mit_ast.xlsx')
# check if the files have the same columns
# change 'label' to 'BirdNET'
df1.rename(columns={'label': 'BirdNET'}, inplace=True)
df2.rename(columns={'label': 'BirdNET'}, inplace=True)
df3.rename(columns={'label': 'BirdNET'}, inplace=True)

#save back to excel
df1.to_excel('metadata/garden_03032024_metadata_birdnet_labeled_mit_ast.xlsx')
df2.to_excel('metadata/garden_08032024_metadata_birdnet_labeled_mit_ast.xlsx')
df3.to_excel('metadata/garden_16032024_metadata_birdnet_labeled_mit_ast.xlsx')

new_df = pd.concat([df1, df2, df3], ignore_index=True)
new_df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,sessionId,time,filename,th1,th1_value,th2,th2_value,...,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3
0,0,0,0,test,_2024_03_03_8_34_48,garden_03032024/0/er_file_2024_03_03_8_34_48.wav,0.382969,0.50,0.790168,0.50,...,286,0,36.0,5.462251,51.417782,NaN,Bird,NaN,NaN,NaN
1,1,1,1,test,_2024_03_03_8_34_50,garden_03032024/0/er_file_2024_03_03_8_34_50.wav,0.176002,0.25,0.932867,0.50,...,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,NaN,NaN,NaN
2,2,2,2,test,_2024_03_03_8_34_53,garden_03032024/0/er_file_2024_03_03_8_34_53.wav,0.278563,0.25,0.474437,0.50,...,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,NaN,NaN,NaN
3,3,3,3,test,_2024_03_03_8_34_56,garden_03032024/0/er_file_2024_03_03_8_34_56.wav,0.263044,0.25,0.812372,0.64,...,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Bird,NaN,NaN,NaN
4,4,4,4,test,_2024_03_03_8_34_59,garden_03032024/0/er_file_2024_03_03_8_34_59.wav,0.164429,0.25,0.871671,0.64,...,286,0,36.0,5.462251,51.417782,NaN,Bird,NaN,NaN,NaN

In [160]:
# drop all columns named 'Unnamed'
new_df = new_df.loc[:, ~new_df.columns.str.contains('^Unnamed')]

In [161]:
new_df.shape

(59039, 25)

In [162]:
# Merging df_con with labels_df
# Example of merging with specific column names handling
new_df = new_df.merge(labels_df, left_on='MIT_AST_label', right_on='label', how='left')
new_df.rename(columns={'source': 'sound_class_label'}, inplace=True)
new_df.drop(columns=['label'], inplace=True)  # Assuming 'label_y' is the extra column from labels_new_df
new_df.head()

,sessionId,time,filename,th1,th1_value,th2,th2_value,th3,th3_value,wudate,...,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,Unnamed: 0,sound_class_label
0,test,_2024_03_03_8_34_48,garden_03032024/0/er_file_2024_03_03_8_34_48.wav,0.382969,0.50,0.790168,0.50,0.255452,0.50,20240303,...,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,111,bird
1,test,_2024_03_03_8_34_50,garden_03032024/0/er_file_2024_03_03_8_34_50.wav,0.176002,0.25,0.932867,0.50,0.271969,0.50,20240303,...,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,119,bird
2,test,_2024_03_03_8_34_53,garden_03032024/0/er_file_2024_03_03_8_34_53.wav,0.278563,0.25,0.474437,0.50,0.023406,0.24,20240303,...,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,119,bird
3,test,_2024_03_03_8_34_56,garden_03032024/0/er_file_2024_03_03_8_34_56.wav,0.263044,0.25,0.812372,0.64,0.172581,0.24,20240303,...,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Bird,111,bird
4,test,_2024_03_03_8_34_59,garden_03032024/0/er_file_2024_03_03_8_34_59.wav,0.164429,0.25,0.871671,0.64,0.044865,0.24,20240303,...,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,111,bird

In [163]:
new_df = new_df.loc[:, ~new_df.columns.str.contains('^Unnamed')]

new_df.head()

,sessionId,time,filename,th1,th1_value,th2,th2_value,th3,th3_value,wudate,...,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label
0,test,_2024_03_03_8_34_48,garden_03032024/0/er_file_2024_03_03_8_34_48.wav,0.382969,0.50,0.790168,0.50,0.255452,0.50,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,bird
1,test,_2024_03_03_8_34_50,garden_03032024/0/er_file_2024_03_03_8_34_50.wav,0.176002,0.25,0.932867,0.50,0.271969,0.50,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
2,test,_2024_03_03_8_34_53,garden_03032024/0/er_file_2024_03_03_8_34_53.wav,0.278563,0.25,0.474437,0.50,0.023406,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
3,test,_2024_03_03_8_34_56,garden_03032024/0/er_file_2024_03_03_8_34_56.wav,0.263044,0.25,0.812372,0.64,0.172581,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Bird,bird
4,test,_2024_03_03_8_34_59,garden_03032024/0/er_file_2024_03_03_8_34_59.wav,0.164429,0.25,0.871671,0.64,0.044865,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,bird

In [168]:
df_concat = pd.read_excel('metadata/garden_concat_metadata_birdnet_labeled_mit_ast_.xlsx')
df_concat.shape

(347650, 29)

In [170]:
df_concat.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,sessionId,time,filename,th1,th1_value,th2,th2_value,...,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label
0,0.0,0,0,test,_2023_12_16_18_02_08,garden_16122023/0/er_file_2023_12_16_18_02_08.wav,0.154655,0.22,0.921054,0.5,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Rustling leaves,NaN
1,1.0,1,1,test,_2023_12_16_18_02_11,garden_16122023/0/er_file_2023_12_16_18_02_11.wav,0.545252,0.22,0.869510,0.5,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Heart murmur,NaN
2,2.0,2,2,test,_2023_12_16_18_02_14,garden_16122023/0/er_file_2023_12_16_18_02_14.wav,0.262045,0.22,0.680537,0.5,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Knock,NaN
3,3.0,3,3,test,_2023_12_16_18_02_17,garden_16122023/0/er_file_2023_12_16_18_02_17.wav,0.465999,0.22,0.746294,0.5,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Door,NaN
4,4.0,4,4,test,_2023_12_16_18_02_23,garden_16122023/0/er_file_2023_12_16_18_02_23.wav,0.245217,0.22,0.715698,0.5,...,9.1,98.0,193.0,0.0,0.0,5.462251,51.417782,NaN,Door,NaN

In [171]:
# Example of merging with specific column names handling
df_concat = df_concat.merge(labels_df, left_on='MIT_AST_label', right_on='label', how='left')
df_concat.rename(columns={'source': 'sound_class_label'}, inplace=True)
df_concat.drop(columns=['label'], inplace=True)  # Assuming 'label_y' is the extra column from labels_df_concat
df_concat.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,sessionId,time,filename,th1,th1_value,th2,th2_value,...,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label,Unnamed: 0_y,sound_class_label
0,0.0,0,0,test,_2023_12_16_18_02_08,garden_16122023/0/er_file_2023_12_16_18_02_08.wav,0.154655,0.22,0.921054,0.5,...,204.0,0.0,0.0,5.462251,51.417782,NaN,Rustling leaves,NaN,284.0,weather
1,1.0,1,1,test,_2023_12_16_18_02_11,garden_16122023/0/er_file_2023_12_16_18_02_11.wav,0.545252,0.22,0.869510,0.5,...,204.0,0.0,0.0,5.462251,51.417782,NaN,Heart murmur,NaN,65.0,foley
2,2.0,2,2,test,_2023_12_16_18_02_14,garden_16122023/0/er_file_2023_12_16_18_02_14.wav,0.262045,0.22,0.680537,0.5,...,204.0,0.0,0.0,5.462251,51.417782,NaN,Knock,NaN,359.0,door
3,3.0,3,3,test,_2023_12_16_18_02_17,garden_16122023/0/er_file_2023_12_16_18_02_17.wav,0.465999,0.22,0.746294,0.5,...,204.0,0.0,0.0,5.462251,51.417782,NaN,Door,NaN,354.0,door
4,4.0,4,4,test,_2023_12_16_18_02_23,garden_16122023/0/er_file_2023_12_16_18_02_23.wav,0.245217,0.22,0.715698,0.5,...,193.0,0.0,0.0,5.462251,51.417782,NaN,Door,NaN,354.0,door

In [173]:
df_concat.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0_x', 'sessionId', 'time',
       'filename', 'th1', 'th1_value', 'th2', 'th2_value', 'th3', 'th3_value',
       'wudate', 'datetime', 'precipRate', 'pressureMax', 'dewptAvg',
       'windgustHigh', 'windspeedAvg', 'tempAve', 'humidityAvg', 'winddirAvg',
       'uvHigh', 'solarRadiationHigh', 'lon', 'lat', 'BirdNET',
       'MIT_AST_label', 'sound_class_label', 'Unnamed: 0_y',
       'sound_class_label'],
      dtype='object')

In [175]:
# Drop the second 'sound_class_label' column by selecting all columns except the second occurrence
df_concat = df_concat.loc[:, ~df_concat.columns.duplicated(keep='last')]  # This keeps the first occurrence and drops subsequent duplicates
df_concat.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,sessionId,time,filename,th1,th1_value,th2,th2_value,...,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,Unnamed: 0_y,sound_class_label
0,0.0,0,0,test,_2023_12_16_18_02_08,garden_16122023/0/er_file_2023_12_16_18_02_08.wav,0.154655,0.22,0.921054,0.5,...,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Rustling leaves,284.0,weather
1,1.0,1,1,test,_2023_12_16_18_02_11,garden_16122023/0/er_file_2023_12_16_18_02_11.wav,0.545252,0.22,0.869510,0.5,...,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Heart murmur,65.0,foley
2,2.0,2,2,test,_2023_12_16_18_02_14,garden_16122023/0/er_file_2023_12_16_18_02_14.wav,0.262045,0.22,0.680537,0.5,...,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Knock,359.0,door
3,3.0,3,3,test,_2023_12_16_18_02_17,garden_16122023/0/er_file_2023_12_16_18_02_17.wav,0.465999,0.22,0.746294,0.5,...,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Door,354.0,door
4,4.0,4,4,test,_2023_12_16_18_02_23,garden_16122023/0/er_file_2023_12_16_18_02_23.wav,0.245217,0.22,0.715698,0.5,...,98.0,193.0,0.0,0.0,5.462251,51.417782,NaN,Door,354.0,door

In [176]:
df_concat = df_concat.loc[:, ~df_concat.columns.str.contains('^Unnamed')]

df_concat.head()

,sessionId,time,filename,th1,th1_value,th2,th2_value,th3,th3_value,wudate,...,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label
0,test,_2023_12_16_18_02_08,garden_16122023/0/er_file_2023_12_16_18_02_08.wav,0.154655,0.22,0.921054,0.5,0.216242,0.50,20231216,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Rustling leaves,weather
1,test,_2023_12_16_18_02_11,garden_16122023/0/er_file_2023_12_16_18_02_11.wav,0.545252,0.22,0.869510,0.5,0.662231,0.25,20231216,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Heart murmur,foley
2,test,_2023_12_16_18_02_14,garden_16122023/0/er_file_2023_12_16_18_02_14.wav,0.262045,0.22,0.680537,0.5,0.062379,0.25,20231216,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Knock,door
3,test,_2023_12_16_18_02_17,garden_16122023/0/er_file_2023_12_16_18_02_17.wav,0.465999,0.22,0.746294,0.5,0.063947,0.25,20231216,...,9.1,98.0,204.0,0.0,0.0,5.462251,51.417782,NaN,Door,door
4,test,_2023_12_16_18_02_23,garden_16122023/0/er_file_2023_12_16_18_02_23.wav,0.245217,0.22,0.715698,0.5,0.030672,0.25,20231216,...,9.1,98.0,193.0,0.0,0.0,5.462251,51.417782,NaN,Door,door

In [177]:
new_df.head()

,sessionId,time,filename,th1,th1_value,th2,th2_value,th3,th3_value,wudate,...,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label
0,test,_2024_03_03_8_34_48,garden_03032024/0/er_file_2024_03_03_8_34_48.wav,0.382969,0.50,0.790168,0.50,0.255452,0.50,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,bird
1,test,_2024_03_03_8_34_50,garden_03032024/0/er_file_2024_03_03_8_34_50.wav,0.176002,0.25,0.932867,0.50,0.271969,0.50,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
2,test,_2024_03_03_8_34_53,garden_03032024/0/er_file_2024_03_03_8_34_53.wav,0.278563,0.25,0.474437,0.50,0.023406,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
3,test,_2024_03_03_8_34_56,garden_03032024/0/er_file_2024_03_03_8_34_56.wav,0.263044,0.25,0.812372,0.64,0.172581,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Bird,bird
4,test,_2024_03_03_8_34_59,garden_03032024/0/er_file_2024_03_03_8_34_59.wav,0.164429,0.25,0.871671,0.64,0.044865,0.24,20240303,...,9.6,88.0,286,0,36.0,5.462251,51.417782,NaN,Bird,bird

In [178]:
df_con = pd.concat([new_df, df_concat])
df_con.shape

(406689, 26)

In [179]:
df_con.head()

,sessionId,time,filename,th1,th1_value,th2,th2_value,th3,th3_value,wudate,...,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,lon,lat,BirdNET,MIT_AST_label,sound_class_label
0,test,_2024_03_03_8_34_48,garden_03032024/0/er_file_2024_03_03_8_34_48.wav,0.382969,0.50,0.790168,0.50,0.255452,0.50,20240303,...,9.6,88.0,286.0,0.0,36.0,5.462251,51.417782,NaN,Bird,bird
1,test,_2024_03_03_8_34_50,garden_03032024/0/er_file_2024_03_03_8_34_50.wav,0.176002,0.25,0.932867,0.50,0.271969,0.50,20240303,...,9.6,88.0,286.0,0.0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
2,test,_2024_03_03_8_34_53,garden_03032024/0/er_file_2024_03_03_8_34_53.wav,0.278563,0.25,0.474437,0.50,0.023406,0.24,20240303,...,9.6,88.0,286.0,0.0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
3,test,_2024_03_03_8_34_56,garden_03032024/0/er_file_2024_03_03_8_34_56.wav,0.263044,0.25,0.812372,0.64,0.172581,0.24,20240303,...,9.6,88.0,286.0,0.0,36.0,5.462251,51.417782,Streptopelia decaocto_Eurasian Collared-Dove,Bird,bird
4,test,_2024_03_03_8_34_59,garden_03032024/0/er_file_2024_03_03_8_34_59.wav,0.164429,0.25,0.871671,0.64,0.044865,0.24,20240303,...,9.6,88.0,286.0,0.0,36.0,5.462251,51.417782,NaN,Bird,bird

In [180]:
df_con.to_excel('metadata/garden_concat_metadata_birdnet_labeled_mit_ast_24.04.xlsx')

In [181]:
columns = df_con.columns
columns

Index(['sessionId', 'time', 'filename', 'th1', 'th1_value', 'th2', 'th2_value',
       'th3', 'th3_value', 'wudate', 'datetime', 'precipRate', 'pressureMax',
       'dewptAvg', 'windgustHigh', 'windspeedAvg', 'tempAve', 'humidityAvg',
       'winddirAvg', 'uvHigh', 'solarRadiationHigh', 'lon', 'lat', 'BirdNET',
       'MIT_AST_label', 'sound_class_label'],
      dtype='object')

In [184]:
# leave only 'datetime', 'precipRate', 'pressureMax','dewptAvg', 'windgustHigh', 'windspeedAvg', 'tempAve', 'humidityAvg','winddirAvg', 'uvHigh', 'solarRadiationHigh', 'lon', 'lat', 'BirdNET','MIT_AST_label', 'sound_class_label'
columns_to_keep = ['datetime', 'precipRate', 'pressureMax','dewptAvg', 'windgustHigh', 'windspeedAvg', 'tempAve', 'humidityAvg','winddirAvg', 'uvHigh', 'solarRadiationHigh', 'BirdNET','MIT_AST_label', 'sound_class_label']
df_stats = df_con[columns_to_keep]
df_stats.head()

,datetime,precipRate,pressureMax,dewptAvg,windgustHigh,windspeedAvg,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,BirdNET,MIT_AST_label,sound_class_label
0,2024-03-03 08:34:48,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,NaN,Bird,bird
1,2024-03-03 08:34:50,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
2,2024-03-03 08:34:53,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
3,2024-03-03 08:34:56,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Bird,bird
4,2024-03-03 08:34:59,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,NaN,Bird,bird

In [186]:
df_stats.describe()

,datetime,precipRate,pressureMax,dewptAvg,windgustHigh,windspeedAvg,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh
count,406689,404553.000000,406689.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000
mean,2023-12-23 00:16:55.408518400,0.357925,1008.954810,8.598520,12.481722,4.208838,10.869927,86.964778,193.873915,0.447603,67.606959
min,2023-08-11 17:59:32,0.000000,979.410000,-9.900000,0.000000,0.000000,-6.500000,40.700000,0.000000,0.000000,0.000000
25%,2023-11-19 12:59:53,0.000000,1000.340000,6.500000,7.200000,1.800000,8.100000,81.200000,167.000000,0.000000,0.000000
50%,2023-12-23 20:31:10,0.000000,1010.330000,8.600000,11.100000,3.900000,10.400000,89.900000,199.000000,0.000000,5.100000
75%,2024-01-31 08:23:56,0.000000,1017.340000,10.700000,16.600000,6.200000,12.200000,96.100000,215.000000,0.000000,74.100000
max,2024-03-23 05:53:04,39.600000,1034.640000,22.800000,43.900000,17.300000,32.800000,99.000000,357.000000,13.000000,1351.700000
std,NaN,1.358902,11.791507,4.895714,7.874728,2.995714,5.702933,11.493153,40.898593,1.115351,126.441388

In [187]:
#check for missing values
df_stats.isnull().sum()

datetime                   0
precipRate              2136
pressureMax                0
dewptAvg                2136
windgustHigh            2136
windspeedAvg            2136
tempAve                 2136
humidityAvg             2136
winddirAvg              2136
uvHigh                  2136
solarRadiationHigh      2136
BirdNET               334854
MIT_AST_label          16564
sound_class_label      16564
dtype: int64

In [189]:
#drop 2136 rows with missing values in preipRate
ststs_full = df_stats.dropna(subset=['precipRate'], inplace=False)
ststs_full.isnull().sum()

datetime                   0
precipRate                 0
pressureMax                0
dewptAvg                   0
windgustHigh               0
windspeedAvg               0
tempAve                    0
humidityAvg                0
winddirAvg                 0
uvHigh                     0
solarRadiationHigh         0
BirdNET               333023
MIT_AST_label          16564
sound_class_label      16564
dtype: int64

In [196]:
ststs_full.shape

(404553, 14)

In [190]:
ststs_full.describe()# DF from alll data without nan values in weather rows

,datetime,precipRate,pressureMax,dewptAvg,windgustHigh,windspeedAvg,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh
count,404553,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000,404553.000000
mean,2023-12-23 11:15:45.417939968,0.357925,1008.901972,8.598520,12.481722,4.208838,10.869927,86.964778,193.873915,0.447603,67.606959
min,2023-08-11 17:59:32,0.000000,979.410000,-9.900000,0.000000,0.000000,-6.500000,40.700000,0.000000,0.000000,0.000000
25%,2023-11-19 18:26:35,0.000000,1000.240000,6.500000,7.200000,1.800000,8.100000,81.200000,167.000000,0.000000,0.000000
50%,2023-12-23 23:04:09,0.000000,1010.230000,8.600000,11.100000,3.900000,10.400000,89.900000,199.000000,0.000000,5.100000
75%,2024-01-31 10:52:43,0.000000,1017.240000,10.700000,16.600000,6.200000,12.200000,96.100000,215.000000,0.000000,74.100000
max,2024-03-23 05:53:04,39.600000,1034.640000,22.800000,43.900000,17.300000,32.800000,99.000000,357.000000,13.000000,1351.700000
std,NaN,1.358902,11.783670,4.895714,7.874728,2.995714,5.702933,11.493153,40.898593,1.115351,126.441388

In [193]:
#save ststs_full to csv
ststs_full.to_csv('metadata/stats_full_25.04_full.csv', index=False)

In [198]:
ststs_full.head()

,datetime,precipRate,pressureMax,dewptAvg,windgustHigh,windspeedAvg,tempAve,humidityAvg,winddirAvg,uvHigh,solarRadiationHigh,BirdNET,MIT_AST_label,sound_class_label
0,2024-03-03 08:34:48,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,NaN,Bird,bird
1,2024-03-03 08:34:50,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
2,2024-03-03 08:34:53,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Owl,bird
3,2024-03-03 08:34:56,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,Streptopelia decaocto_Eurasian Collared-Dove,Bird,bird
4,2024-03-03 08:34:59,0.0,995.33,7.6,3.5,1.4,9.6,88.0,286.0,0.0,36.0,NaN,Bird,bird

In [202]:
ststs_full['BirdNET'].value_counts()[:10]

BirdNET
Corvus monedula_Eurasian Jackdaw                24851
Parus major_Great Tit                           14994
Cyanistes caeruleus_Eurasian Blue Tit            7958
Streptopelia decaocto_Eurasian Collared-Dove     3819
Columba palumbus_Common Wood-Pigeon              3182
Passer domesticus_House Sparrow                  2359
Erithacus rubecula_European Robin                1946
Prunella modularis_Dunnock                       1740
Turdus merula_Eurasian Blackbird                 1729
Corvus corone_Carrion Crow                       1562
Name: count, dtype: int64

In [204]:
ststs_full['MIT_AST_label'].value_counts()[:20]

MIT_AST_label
Rustling leaves                            52368
Heart sounds, heartbeat                    36823
Bird                                       35235
Speech                                     24995
Vehicle                                    24704
Animal                                     24393
Raindrop                                   21468
Chirp, tweet                               10980
Clip-clop                                  10916
Caw                                         9345
Owl                                         9341
Wind noise (microphone)                     8838
Heart murmur                                8199
Silence                                     7876
Rain on surface                             7674
Wind                                        7454
Door                                        7223
Bird vocalization, bird call, bird song     6734
Crow                                        6476
Fowl                                        5332
Name: count, dtype: int64